.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
    justify-items: center;
}

.card {
    width: clamp(250px, 100%, 500px);
    border: 1px solid gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    cursor: pointer;
}

.card-title-row * {
    display: block;
}

.card-title-row {
    display: flex;
    flex-direction: row;
}

.card-title-row .title {
    flex: 1;
    font-weight: bold;
}

.card-title-row img {
    height: 1rem;
}

.card .content {
    font-size: 0.85rem;
}