.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
    justify-items: center;
}

.card {
    width: clamp(250px, 100%, 500px);
    border: 1px solid gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    cursor: pointer;
}

.card-title-row * {
    display: block;
}

.card-title-row {
    display: flex;
    flex-direction: row;
}

.card-title-row .title {
    flex: 1;
    font-weight: bold;
}

.card-title-row img {
    height: 1rem;
}

.card .content {
    font-size: 0.85rem;
    word-break: break-word;
    max-height: 80px;
    overflow: hidden;
    white-space: pre-wrap; 

}

.card {
    position: relative;
}

.card.fade .content::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to bottom, transparent, var(--bg));
}
